mixin video(video)
  div 
    h4 
      a(href=`/videos/${video.id}`)=video.title
    ul 
      each hashtag in video.hashtags
        div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl ? "/" + video.thumbUrl : ""});`)
        li=hashtag
    
    p=video.description
    small=video.createdAt
    hr