mixin video(video)
  a.video-mixin__list-item(href=`/videos/${video.id}`) 
    div.video-mixin__container
      div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl ? video.thumbUrl : ""})`)
        div.video-mixin__cover
      div.video-mixin__info
        div.top-area
          div.owner_info
            if video.owner.avatarUrl
              div.owner_avatar(style=`background-image: url(${video.owner.avatarUrl})`)
          div.video_info
            div.title=video.title
            div.owner=video.owner.username 
            div.createdAt=video.createdAt