extends base
block content 
  form(method="POST")
    input(name="username", type="text", value=loggedInUser.username, placeholder="Username", required)
    input(name="email", type="email", value=loggedInUser.email, placeholder="Email", required)
    input(name="name", type="text", value=loggedInUser.name, placeholder="Name", required)
    input(name="password", type="password", placeholder="Password", required)
    input(name="password_confirm", type="password", placeholder="Confirm Password", required)
    input(name="location", type="text", value=loggedInUser.location, placeholder="Location")
    input(type="submit", value="Update Profile")
  
  if errorMsg
    div=errorMsg