extends base

block content
  h1=video.title
  p=video.description
  small=video.createdAt
  ul 
    each hastag in video.hashtags
      li=hastag
      
  p #{video.meta.views} #{video.meta.views <= 1 ? "view":"views"}
  p #{video.meta.rating} / 5.0

  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/remove`) Delete Video &rarr;